@page
@model SpaceParkingLotWebApplication.Pages.Forms.ListStarwarsAvatarsModel
@{
    ViewData["Title"] = "Looking for parking?";
}

<h1>@Model.UserManual</h1>
<div></div>
<a class="btn btn-primary" href="/Index" role="button">To validation!</a>
<h2>Parking rules</h2>
<li>If you've never been in a Star Wars movie, you're not allowed here.</li>
<li>Your vehicle must be one of listed on site.</li>
<li>You will pay for this service.</li>
<li>If the lot is full, do NOT park outside.</li>
<li>Follow these rules or there will be blood.</li>