@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Galactic Explorer</h1>
    <p>group 6</p>
</div>

@{
    <form>
        <select id="tickets">

            <option value="">List of active tickets</option>

            @foreach (var record in Model.activeTicketsInDb)
            {
                <option value="@Html.DisplayFor(modelItem3 => record.Id)">
                    @Html.DisplayFor(modelItem3 => record.Name)
                </option>
            }
        </select>
    </form>
}

@{
    <form>
        <select id="name">

            <option value="">List of names</option>

            @foreach (var record in Model.starWarsUniverseAvatars)
            {
                <option value="@Html.DisplayFor(modelItem3 => record.name)">
                    @Html.DisplayFor(modelItem3 => record.name)
                </option>
            }
        </select>
    </form>
}

@{
    <form method="post">
        <div class="text-center">
            <label>Hello sir! What is your name may I ask ?</label>
            <br />

            <input type="text" asp-for="NameOFParker" placeholder="Enter Your Name" />
            <br />
            <button type="submit" class="btn btn-primary">Verify Name</button>
        </div>
    </form>
}
