@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.NameOFParker</h1>
    <p>group 6</p>
</div>

<div>
    <h3>@Model.Message</h3>
    <form method="post"><button class="btn btn-default">Click to post</button></form>
    <p><a href="/" class="btn btn-default">Click to Get</a></p>
</div>

@{
    @foreach (var record in Model.starWarsUniverseAvatars)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem3 => record.name)
                <br />
            </td>
        </tr>
       
    }
}
